@use 'sass:math';
@use 'src/styles/global' as *;
@use 'src/styles/utils' as *;
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-carouselStyle {
  .swiper-main {
    opacity: 0;
    &.swiper-initialized {
      opacity: 1;
    }
  }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-carouselStyle_01 {
  .swiper {
    overflow: visible;
  }
}
@media screen and (min-width: $break-point-middle) {
  .g-carouselStyle_01 {
    .item {
      img {
        @include imgset;
        width: auto;
        height: math.div(287, $design-h) * 100vh;
      }
    }
  }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
