@use 'sass:math';
@use 'src/styles/global' as *;
@use 'src/styles/utils' as *;
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
#g-wrapper {
  position: relative;
  overflow: clip;
  // min-height: 100svh;
  // cursor: none;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#g-container {
  position: relative;
  // cursor: default;
  // pointer-events: none;
  // padding-bottom: $footer-size-sp;
}
// @media screen and (min-width: $break-point-middle) {
//   #g-container {
//     padding-bottom: $footer-size;
//   }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$speed_1: 1s;
.g-mainSection {
  @include fz_vwpcmin(20);
  pointer-events: none;
  position: relative;
  min-height: $breakH + px;
  img {
    @include imgset;
  }
  .scene {
    > .inner {
      @media screen and (min-height: $breakH + 1px) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  .bgImg {
    height: 100%;
    opacity: 0;
    transition: opacity $speed_1;
    figure {
      height: 100%;
      transition: opacity $speed_1;
      &:nth-child(n + 2) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity $speed_1;
    width: 100%;
  }
}
.g-mainSection.is-current {
  pointer-events: all;
  .bgImg {
    opacity: 1;
  }
  .content {
    opacity: 1;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.g-modalScene {
  pointer-events: none;
  transition: 0.3s;
  backdrop-filter: blur(10px) saturate(100%);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: clip-path 0.4s $ease-out-quad;
  min-height: $breakH + px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-height: $breakH + 1px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .is-modal & {
    pointer-events: all;
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (min-height: $breakH + 1px) {
  .g-modalScene {
    height: 100vh;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// @media screen and (max-width: $break-point-middle-sp) {
//   .g-sliderSection {
//     width: get_sp(288);
//   }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
