@use 'sass:math';
@use 'src/styles/global' as *;
@use 'src/styles/utils' as *;
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
#g-wrapper {
  position: relative;
  overflow: clip;
  // min-height: 100svh;
  // cursor: none;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#g-container {
  position: relative;
  cursor: default;
  pointer-events: none;
  // padding-bottom: $footer-size-sp;
}
// @media screen and (min-width: $break-point-middle) {
//   #g-container {
//     padding-bottom: $footer-size;
//   }
// }

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// @media screen and (max-width: $break-point-middle-sp) {
//   .g-sliderSection {
//     width: get_sp(288);
//   }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
