@use 'sass:math';
@use 'src/styles/global' as *;
@use 'src/styles/utils' as *;
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
#g-wrapper {
  position: relative;
  overflow: clip;
  // min-height: 100svh;
  // cursor: none;
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
#g-container {
  position: relative;
  opacity: 0;
  .loaded & {
    opacity: 1;
  }
  // cursor: default;
  // pointer-events: none;
  // padding-bottom: $footer-size-sp;
}
// @media screen and (min-width: $break-point-middle) {
//   #g-container {
//     padding-bottom: $footer-size;
//   }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
$speed_1: 1s;
.g-mainSection {
  @include fz_vw(18);
  pointer-events: none;
  position: relative;
  img {
    @include imgset;
  }
  .scene {
    > .inner {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .bgImg {
    height: 100%;
    opacity: 0;
    filter: brightness(1);
    transition:
      opacity $speed_1,
      filter $speed_1;
    figure {
      height: 100%;
      transition: opacity $speed_1;
      &:nth-child(n + 2) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity $speed_1;
    width: 100%;
    @media screen and (max-width: $break-point-middle-sp) {
      justify-content: flex-start;
      > .inner {
        display: flex;
        gap: math.div(32, 18) + em;
        flex-direction: column-reverse;
      }
    }
  }
}
.g-mainSection.is-current {
  pointer-events: all;
  .bgImg {
    opacity: 1;
  }
  .content {
    opacity: 1;
  }
}
@media screen and (min-width: $break-point-middle) {
  .g-mainSection {
    @include fz_vwpcmin(20);
    min-height: $breakH + px;
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// @media screen and (max-width: $break-point-middle-sp) {
//   .g-sliderSection {
//     width: get_sp(288);
//   }
// }
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
