@use 'sass:math';
@use 'src/styles/global' as *;
@use 'src/styles/utils' as *;
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.g-modalScroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  overflow: auto;
  overscroll-behavior-y: contain;
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
  pointer-events: none;
  backdrop-filter: blur(10px) saturate(100%);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: clip-path 0.4s $ease-out-quad;
  .g-modalOpen & {
    pointer-events: all;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .mainContent {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  .handler {
    // > * {
    //   background-color: #333;
    //   &:nth-child(2n) {
    //     background-color: #666;
    //   }
    // }
    .item {
      height: 200dvh;
      // &:nth-child(3) {
      //   background-color: #ff0000;
      // }
    }
    .closeItem {
      height: 100dvh;
      // background-color: #ff0000;
    }
  }
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.g-modalWrapper {
  position: relative;
  overflow: clip;
  width: 100%;
  min-height: calc(100dvh + 1px);
}
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
.g-modalScene {
  pointer-events: none;
  transition: 0.3s;
  backdrop-filter: blur(10px) saturate(100%);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  transition: clip-path 0.4s $ease-out-quad;
  min-height: $breakH + px;
  display: flex;
  align-items: center;
  justify-content: center;
  // @media screen and (min-height: $breakH + 1px) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // }
  .is-modal & {
    pointer-events: all;
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
// @media screen and (min-height: $breakH + 1px) {
.g-modalScene {
  height: 100vh;
}
// }
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // @media screen and (min-height: $breakH + 1px) {
  transform: translateY(155px);
  // }
  &.style_01 {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-modalTtl {
  margin-bottom: math.div(30, 70) + em;
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-modalSubTtl {
  margin-bottom: math.div(15, 20) + em;
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.g-modalBtnSection {
  display: flex;
  justify-content: center;
  margin-top: math.div(30, 16) + em;
  // @include fz_vwpcmin(16);
  font-size: 1.6rem;
  &.style_01 {
    margin-top: math.div(63, 12) + em;
    font-size: 1.2rem;
    gap: math.div(83, 12) + em;
  }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
