---
import Picture from '@components/util/ImgComponent_01.astro';
// import { Image } from 'astro:assets';
import Img_1 from '@images/img_02.jpg';
// import Img_2 from '@images/img_03.jpg';
import Img_1Sp from '@images/img_02_sp.jpg';
import Img_2Sp from '@images/img_03_sp.jpg';
---

<section class="mainSection g-mainSection js-toggleClass" id="brandCore">
  <div class="scene">
    <div class="inner">
      <div class="bgImg">
        <figure>
          <Picture pc={Img_1} sp={Img_1Sp} alt="" loading="eager" />
        </figure>
        <figure>
          <Picture pc={Img_1} sp={Img_2Sp} alt="" loading="eager" />
        </figure>
      </div>
      <!-- /.bgImg -->
      <div class="content">
        <div class="inner">
          <h2 class="pageRead g-ttlStyle_01 style_01">
            <span class="style_01">BRIEFINGは、</span>
            <span class="style_01">誰のためにあるのか？</span>
            <span class="style_02">何をもたらすのか？</span>
          </h2>
          <!-- /.pageRead -->
          <p class="pageTtl g-ttlStyle_02">WHY WE EXIST</p>
          <!-- /.pageTtl -->
        </div>
        <!-- /.inner -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.inner -->
  </div>
  <!-- /.scene -->
</section>
<!-- /.mainSection -->

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  // @media screen and (min-height: $breakH + 1px) {
  .scene {
    height: 200vh;
  }
  // }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
