---

---

<li>
  <a href="#brandCore">
    <span class="num"></span>
    <span class="labelTx">BRAND CORE</span>
    <!-- /.labelTx -->
  </a>
</li>
<li>
  <a href="#value">
    <span class="num"></span>
    <span class="labelTx">VALUE</span>
    <!-- /.labelTx -->
  </a>
</li>
<li>
  <a href="#fact">
    <span class="num"></span>
    <span class="labelTx">FACT</span>
    <!-- /.labelTx -->
  </a>
</li>
<li>
  <a href="#tagLine">
    <span class="num"></span>
    <span class="labelTx">TAGLINE</span>
    <!-- /.labelTx -->
  </a>
</li>
<li>
  <a href="#purpose">
    <span class="num"></span>
    <span class="labelTx">PORPOSE</span>
    <!-- /.labelTx -->
  </a>
</li>
