---
import BaseLayout from '@layouts/BaseLayout.astro';
import FirstView from '@components/modules/FirstView.astro';
import BrandCore from '@components/modules/BrandCore.astro';
import ActiveLifeGear from '@components/modules/ActiveLifeGear.astro';
import Fact from '@components/modules/Fact.astro';
import RedLine from '@components/modules/RedLine.astro';

// import Picture from '@components/util/ImgComponent_01.astro';
// import { Image } from 'astro:assets';
// import Img_1 from '@images/img_01.jpg';

//SEO設定
const pageClass = 'home';
const title = '';
// const description = '';
// const noindex = false;
// const ogType = '';
// const ogimg = '';
---

<BaseLayout pageClass={pageClass} title={title}>
  <main role="main">
    <div class="pageSection">
      <FirstView />
    </div>
    <!-- /.pageSection -->
    <div class="pageSection">
      <BrandCore />
    </div>
    <!-- /.pageSection -->
    <div class="pageSection">
      <ActiveLifeGear />
    </div>
    <!-- /.pageSection -->
    <div class="pageSection">
      <Fact />
    </div>
    <!-- /.pageSection -->
    <div class="pageSection">
      <RedLine />
    </div>
    <!-- /.pageSection -->
  </main>
</BaseLayout>

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  // .pageSection {
  //   position: relative;
  // }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
