@use 'sass:math';
@use 'src/styles/global' as *;
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
.js-inview-fade,
.js-inview-fade-toggle {
  opacity: 0;
  transform: translateY(10px);
  transition: 0.6s $ease_04;
  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
@media screen and (min-width: $break-point-middle) {
}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
