---
import { Image } from 'astro:assets';
import Logo from '@images/logo-briefing_01.svg';
---

<header class="g-mrgStyle_01">
  <div class="inner">
    <div class="col-logo">
      <a href="/">
        <Image src={Logo} alt="BRIEFING" width={144} densities={[1, 2, 3]} loading="eager" />
      </a>
    </div>
    <!-- /.col-logo -->
    <div class="col-nav">
      <div class="pickMenu">
        <ul>
          <li>
            <a href="#brandCore">
              <span class="labelTx">BRAND CORE</span>
              <!-- /.labelTx -->
            </a>
          </li>
          <li>
            <a href="#g-wrapper">
              <span class="labelTx">TOP</span>
              <!-- /.labelTx -->
            </a>
          </li>
        </ul>
      </div>
      <!-- /.pickMenu -->
      <div class="menuBtn">
        <button type="button" id="menuBtn">
          <span class="labelTx">MENU</span>
        </button>
      </div>
      <!-- /.menuBtn -->
    </div>
    <!-- /.col-nav -->
  </div>
  <!-- /.inner -->
</header>

<style lang="scss">
  @use 'sass:math';
  @use 'src/styles/global' as *;
  @use 'src/styles/utils' as *;
  ////////////////////
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s;
    &.is-active {
      opacity: 1;
      :global(a),
      :global(button) {
        pointer-events: all;
      }
    }
    > .inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: opacity 0.3s;
      :global(.menuOpen) & {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  ////////////////////
  .col-logo {
    img {
      @include imgset;
      width: 144px;
    }
  }
  ////////////////////
  .col-nav {
    display: flex;
    gap: math.div(139, 12) + em;
    line-height: normal;
    letter-spacing: math.div(-0.24, 12) + em;
    text-transform: uppercase;
    @include fz_vwpcmin(12);
    span {
      font-weight: 700;
    }
    a,
    button {
      color: $white;
      display: flex;
      gap: 0.5em;
      span {
        display: block;
      }
      @media (any-hover: hover) {
        &:hover {
          overflow: 0.9;
          transform: translateX(0.2em);
        }
      }
    }
  }
  ////////////////////
  .pickMenu {
    ul {
      display: flex;
      gap: math.div(49, 12) + em;
    }
    a {
      position: relative;
      &::before {
        content: '';
        height: 1px;
        width: 0%;
        left: 0;
        bottom: 0.2em;
        position: absolute;
        transition: 0.3s;
        background-color: $white;
      }
      @media (any-hover: hover) {
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
  ////////////////////
  .menuBtn {
    button {
      @include btnsetting;
      position: relative;
      overflow: hidden;
      transition: 0.3s;
      &::before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $white;
        bottom: 0.2em;
        position: absolute;
        transform: translateX(0);
        transition: 0.3s;
      }
      @media (any-hover: hover) {
        &:hover {
          &::before {
            background-color: $key-color1;
            animation: linemove_01 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1;
          }
        }
      }
    }
    // .is-normal {
    //   :global(.menuOpen) & {
    //     display: none;
    //   }
    // }
    // .is-open {
    //   display: none;
    //   :global(.menuOpen) & {
    //     display: block;
    //   }
    // }
  }
  ////////////////////
  @media screen and (min-width: $break-point-middle) {
  }
</style>
